.navbar {
    width: 100%;
    position: fixed;
    flex-direction: row;

    color: #fff;
    padding: 10px 0;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
 
     
    img{
        width: 50px;
    }
}
.nav-links {
    background-color: rgba(0, 0, 0, 0.089);
    list-style-type: none;
    a{
    font-size: 23px;
    text-decoration: none;
    margin-left: 80px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    li{
        display: inline;
    }
}
.nav-links li a {
    transition: color 0.3s ease; /* Transición para el color del texto */
  }

  @media only screen and (max-width: 400px) {
    .navbar {
        width: 400px;
        position: fixed;
        flex-direction: row;
        visibility: hidden;
        color: #fff;
        padding: 10px 0;
        
    }
    

  }