<section class="content" id="sobre-mi">
    <p class="titulo">Sobre Mí</p>
    <div class="content-cards">
        <mat-card class="card uno">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Modelo Dual del Instituto Tecnológico Superior de
                        Calkiní</mat-card-title>
                    <mat-card-subtitle class="subtitulo">En la empresa Plenumsoft.</mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/desarrollador.png" alt="" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Durante el periodo comprendido del 5 de septiembre de 2022 al 31 de
                    enero de 2024 cumpliendo un total de 3240 horas
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="
            openImageDialog(
              'https://res.cloudinary.com/dnahwx3vs/image/upload/v1711125814/Portafolio/ConstanciaCelulas_vg7rap.jpg'
            )
          ">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card tres">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Ingeniero en Sistemas Computacionales</mat-card-title>
                    <mat-card-subtitle class="subtitulo">Instituto Superior de Calkiní</mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/graduado.png" alt="Image of a Shiba Inu" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content> Durante los años de 2019 al 2024 </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card dos">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Profesional Técnico Bachiller en Informática</mat-card-title>
                    <mat-card-subtitle class="subtitulo">Conalep Plantel Dzitbalche
                    </mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/graduado.png" alt="" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content> Durante los años de 2016 al 2019 </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="
            openImageDialog(
              'https://res.cloudinary.com/dnahwx3vs/image/upload/v1711125811/Portafolio/Certificadoprepa_auip9c.jpg'
            )
          ">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="content-cards">
        <mat-card class="card tres">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Beca de aprendizaje por Azul Web durante un año</mat-card-title>
                    <mat-card-subtitle class="subtitulo">Plataforma de Azul School</mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/desarrollador.png" alt="Image of a Shiba Inu" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content> Durante el año de 2022 al 2023 </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="
            openImageDialog(
              'https://res.cloudinary.com/dnahwx3vs/image/upload/v1711125843/Portafolio/BecaAzul_aci3rf.png'
            )
          ">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
        <mat-card class="card tres">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Titulación por Investigación de Tesis</mat-card-title>
                    <mat-card-subtitle class="subtitulo">Instituto Superior de Calkiní</mat-card-subtitle>
                    <img mat-card-md-image src="../../../assets/graduado.png" alt="Image of a Shiba Inu" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content> Durante el año 2024 </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="
            openImageDialog(
              'https://res.cloudinary.com/dnahwx3vs/image/upload/v1711125807/Portafolio/Tesis_nh68s9.jpg'
            )
          ">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</section>

<section class="content" id="proyectos">
    <p class="titulo">Proyectos</p>
    <div class="content-cards">
        <mat-card class="card uno">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Aplicación para la gestión de cobros</mat-card-title>
                    <mat-card-subtitle class="subtitulo">En la empresa Soluciones en Informática del Sureste S.A DE C.V.
                    </mat-card-subtitle>
                    <img mat-card-md-image
                        src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711128686/coding_fy96xf.png" alt="" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>Durante el periodo de Junio del 2022 a enero de 2024.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openGalleryDialog(imagesSet1)">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>

        <mat-card class="card uno">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Proyecto de residencia aplicación para la gestión de licencias
                    </mat-card-title>
                    <mat-card-subtitle class="subtitulo">En la empresa Plenumsoft</mat-card-subtitle>
                    <img mat-card-md-image
                        src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711128686/coding_fy96xf.png" alt="" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>Durante el periodo de Junio del 2022 a enero de 2024.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openGalleryDialog(imagesSet2)">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="content-cards">
        <mat-card class="card uno">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Aplicación de menu de comidas para tablet</mat-card-title>
                    <mat-card-subtitle class="subtitulo">Proyecto Personal en flutter</mat-card-subtitle>
                    <img mat-card-md-image
                        src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711128690/mobile_p87vw2.png" alt="" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>Durante el periodo de Enero del 2023 a Febrero de 2023.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openGalleryDialog(imagesSet3)">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>

        <mat-card class="card uno">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Aplicación para gestión de cumpleaños de los alumnos </mat-card-title>
                    <mat-card-subtitle class="subtitulo">Proyecto de practica con flutter en Plenumsoft</mat-card-subtitle>
                    <img mat-card-md-image
                        src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711128690/mobile_p87vw2.png" alt="" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>Durante el periodo de Enero del 2023 a Febrero de 2023.</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="openGalleryDialog(imagesSet4)">
                    Ver mas
                </button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</section>

<section class="content" id="contacto">
    <p class="titulo">Contacto</p>
   
        <mat-card class="content-contacto">
            <mat-card-header>
                <!-- <mat-card-title><h1>Contacto</h1></mat-card-title> -->
            </mat-card-header>
            <mat-card-content>
                <mat-card class="content-telefono"> 
                    <img class="icono" src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711135626/telephone_leoz6g.png" alt="">
                    <h2>Telefono:</h2>
                    <h2>996-963-81-43</h2>
                </mat-card>
                <mat-card class="content-whats">
                    <img class="icono" src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711135646/whatsapp_xpyhd0.png" alt="">
                    <h2>Whatsapp: </h2>
                    <h2>996-963-81-43</h2>
                </mat-card>
               
                    <mat-card class="content-email">
                        <img class="icono" src="https://res.cloudinary.com/dnahwx3vs/image/upload/v1711137868/gmail_iindpk.png" alt="">
                        <h2>Email:</h2>
                        <h2> Euan21132@gmail.com</h2>
                    </mat-card>
                 
            </mat-card-content>
        </mat-card>
    
</section>