<div class="container-card" id="inicio" container-card-content>
    <app-navbar class="nav"></app-navbar>
    <div class="container-body">
        <div class="container-card-content">
            <div class="container-titulo">
                <h1>Ingeniero en Sistemas Computacionales y Profesional Técnico Bachiller en Informática</h1>
            </div>

            <div class="container-descripcion">
                <p>¡Hola! mi nombre es Aldo Javier Euan Chable.Soy desarrollador Full-Stack y Técnico de computadoras,  capaz de aprender nuevos lenguajes de programación y tecnologías rápidamente para ajustarme a los requisitos de cualquier proyecto.</p>
                <p>En Diavaz, contribuí al desarrollo de aplicaciones utilizando Angular, C# y SQL Server. En Plenumsoft, profundicé mis conocimientos en frontend con HTML, CSS, JavaScript y TypeScript, ademas exploré el desarrollo móvil con Flutter.</p>
                <p>En Soluciones en Informática del Sureste S.A de C.V., desarrollé habilidades en soporte técnico, realizando diagnóstico y reparación de equipos de cómputo</p>
                <p></p>
            </div>
        </div>
        <div class="container-img">
            <img class="foto" src="../../../assets/foto-aldoo.png" alt="">

        </div>
    </div>
</div>
<app-estudios></app-estudios>