 
.container-card {
    width: 100%;
    
    background-image: url('../../../assets/Fondo-oscuro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
 
}
.container-body{
    display: flex;
    padding-top: 100px;
}
.container-card-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    
    padding-left: 15px;
    padding-right: 15px;
}   
.container-titulo {
   color: #f5f5f5;
   background-color: rgba(0, 0, 0, 0.364);
   border-radius: 3px;
   padding: 10px;
   font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.container-descripcion {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.364);
    border-radius: 3px;
    padding: 30px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.container-img {
    width: 40%;
    padding: 50px;
    .foto{
        width: 500px;
        border-radius: 250px;
        border:solid #6cffb3;
    }
}
@media only screen and (max-width: 400px) {
    .container-body{
        display: flex;
       
        padding-top: 100px;
    }
    .container-card-content {
        width: 50%;
        
      
    } 
    .container-titulo{
        width: 100%;
        padding: 0;
        margin-bottom: 5px;
    }  
    .container-descripcion{
        width: 100%;
        padding: 0;
    }
    .container-img {
        width: 4%;
        padding: 50px;
        .foto{
            width: 100px;
            border-radius: 250px;
            border:solid #6cffb3;
        }
    }
}