<div class="container-card" id="inicio" container-card-content>
    <app-navbar class="nav"></app-navbar>
    <div class="container-body">
        <div class="container-card-content">
            <div class="container-titulo">
                <h1>Pasante de Ingeniero en Sistemas Computacionales</h1>
            </div>

            <div class="container-descripcion">
                <p>¡Hola! Soy Aldo Javier Euan Chable. He tenido participaciones en proyectos como Full-Stack. Cuento
                    con experiencia en soporte técnico, además de atención al cliente y capacitación básica en
                    instalación de cámaras de seguridad.

                </p>
            </div>
        </div>
        <div class="container-img">
            <img class="foto" src="../../../assets/foto-aldoo.png" alt="">

        </div>
    </div>
</div>
<app-estudios></app-estudios>